body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.header_text {
    font-family: 'Playfair';
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}